body {
    font-family: 'Silkscreen', sans-serif;
    background-color: #FFF9E9;
    text-align: center;
    font-size: 30px;
}

h1 {
    font-size: 50px;
    font-weight: 700;
}

button {
    background-color: black;
    border: 3px solid red;
    border-radius: 50%;
    transition-duration: 0.3s;
    padding: 2em;
}

button:hover {
    background-color: red;
    border: 3px solid black;
}

#logic {
    color: red;
}

.scores span {
    display: inline-block;
    background-color: white;
    border: 2px solid black;
}